<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354133460788-gklbahrbv5leu53uljrl7rj1ulbmqfvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354133460788-gklbahrbv5leu53uljrl7rj1ulbmqfvr</string>
	<key>API_KEY</key>
	<string>AIzaSyBg8cKv5KPyoIkjrDcjwO8JW_GhC2pM6BQ</string>
	<key>GCM_SENDER_ID</key>
	<string>354133460788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appMovies</string>
	<key>PROJECT_ID</key>
	<string>appmovie-30821</string>
	<key>STORAGE_BUCKET</key>
	<string>appmovie-30821.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354133460788:ios:acc2f879021b33bfc04761</string>
</dict>
</plist>